main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

img{
  height: 200;
  width: auto;
  border-radius:20px;
  
  box-shadow: 15px 15px 15px 2px gray;
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  box-shadow: 15px 15px 15px 2px gray;
}

footer{
  border: thin solid black;
}

h1, p{
  color:orangered
}
li{
  list-style-type: None
}
